@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');

/*******Logo*********/
.logo {
  width: auto;
  height: auto;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}

.logo h1 {
  font-family: 'Lavishly Yours';
  font-size: 3rem;
  position: absolute;
  top: 35%;
  height: 100%;
  color: #230C33;
}

.logoImage {
  position: relative;
  z-index: -1;
  left: 75;
  height: auto;
}

/******End of Logo**********/

.app {
  display: grid;
}