/* Contenedor principal */
.sellers {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.productlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 10px;
}

.productCard {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  transition: transform 0.3s ease;
}

.productCard:hover {
  transform: translateY(-10px);
}

.productCard h3 {
  font-size: 1.5rem;
  color: #007BFF;
  margin-bottom: 10px;
}

.productCard p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}

.price {
  font-size: 1.2rem;
  color: #28a745;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.productImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

h3 + .price {
  font-size: 1.3rem;
  color: #333;
  font-weight: bold;
}

/* Estilos para las calificaciones */
.productCard .reviews {
  margin-top: 20px;
}

.productCard .reviews span {
  display: block;
  color: #444;
  font-size: 1rem;
  margin-bottom: 5px;
}

.productCard .reviews .rating-text {
  font-style: italic;
}

.productCard .reviews .author {
  font-weight: bold;
}

.productCard .reviews .rating-value {
  font-size: 1.1rem;
  color: #ffcc00;
}

.productCard .reviews .rating-value::before {
  content: "⭐";
  margin-right: 5px;
}

/* Estilos para el contenedor de rating */
.productCard .reviews {
  margin-top: 15px;
}

.productCard .reviews div {
  display: flex;
  flex-direction: column;
}

.productCard .reviews span {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #777;
}
